.img-queen {
  height: 12em;
  width: 13em;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  right: 14%;
}

.parr {
  margin-block-start: 0.5em;
  margin-inline-start: 1.4em;
  margin-block-end: 0em;
}

.list-spotify {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
}

.song {
  padding: 1em;
  border: transparent;
}

@media screen and (max-width: 992px) {
  .img-queen {
    height: 11em;
    width: 11em;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    right: 14%;
  }
}

@media screen and (max-width: 532px) {
  .img-queen {
    display: none;
  }
}
