* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(27, 26, 26);
  color: white;
}

.ppal-title {
  text-align: center;
}

.content {
  max-width: 80%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .content {
    max-width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 532px) {
  .content {
    max-width: 100%;
    margin: auto;
  }
}
